@charset "UTF-8";

/* Estilos para tela */
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
}
header{
    background-color: lightgray;
}
header > h1{
    text-align: center;
    text-transform: uppercase;
}
menu{
    padding: 5px;
    position: relative;
}
menu > ul{
    display: inline-block;
    list-style: none;
    background-color: gray;
    padding: 5px;
}
menu > ul > li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(75, 75, 75);
    color: white;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}
article > h2{
    padding: 5px;
    text-align: center;
}
p{
    text-indent: 30px;
    padding-top: 20px;
}